---
import Layout from '../layouts/Layout.astro'
import SectionContent from '../layouts/SectionContent.astro'
import BtnOutline from '../components/BtnOutline.astro'
import BtnRed from '../components/BtnRed.astro'
import ExpLaboral from '../components/ExpLaboral.astro'
import Proyecto from '../components/Proyecto.astro'
import HabilidadesIn from '../components/HabilidadesIn.astro'
import SectionWith from '../components/SectionWith.astro'
import 'normalize.css'
---

<Layout title='Welcome to Astro.'>
    <main class='text-left container mx-auto p-1 px-4 text-white text-xl'>
        <h1 class='text-5xl font-bold'>
            <span class='block'>Hola,</span>
            <span
                class='block text-7xl py-5 bg-clip-text text-transparent bg-gradient-to-r
                from-amber-600 from-0% via-yellow-500 via-30% to-yellow-500 to-90%'
            >
                Soy Eliud
            </span>
            <span class='block text-3xl'>Desarrollador Fullstack</span>
            <span class='block text-2xl font-normal'>Perú - Lima</span>
        </h1>
        <p>
            +5 años de experiencia, <strong class='text-yellow-500'>
                Ingeniero en Sistemas e Informática
            </strong>, enfocado en compartir y obtener nuevos conocimientos,
            decidido a formar parte de un equipo para lograr los objetivos con
            los resultados deseados.
        </p>
        <div class='w-full !flex justify-center items-center my-5'>
            <BtnOutline body='Curriculúm Vitae' url='' icon='fa-file-text'/>
        </div>
        <div class='!flex justify-center items-center gap-8'>
            <BtnRed body='Twitter'><i class="fa fa-twitter fa-4x"></i></BtnRed>
            <BtnRed body='Github'><i class="fa fa-github fa-4x"></i></BtnRed>
            <BtnRed body='Linkedin'><i class="fa fa-linkedin fa-4x"></i></BtnRed>
        </div>
    </main>
    <SectionContent title='Experiencia Laboral' icon='fa-address-book'>
        <ExpLaboral
            cargo='Desarrollador Fullstack'
            lugar='en Altamira Tecnology'
            tiempo='Enero 2023 - Actualmente (1 año 4 meses)'
        >
            Liderar un equipo de desarrollo, evangelizar conceptos claves para
            un desarrollo robusto y escalable, compartir mi conocimiento para
            acelerar el crecimiento de los miembros y crear un ambiente de
            propuestas que mejoren al equipo. Definir el diseño de base de
            datos, el entorno de desarrollo para el backend y frontend, las
            políticas para el desarrollo, la distribución de tareas y el
            despliegue en SAP BTP Cloud Foundry. Asimismo, asistir con la
            optimización de base de datos MySQL, actualización de estadísticas,
            índex, seguimiento a slow_query_log, tareas programadas, etc.
        </ExpLaboral>
    </SectionContent>
    <SectionContent title='Proyectos' icon='fa-briefcase'>
        <Proyecto
            title='CRUD Básico'
            imagen='./svgl 1.png'
            herramientas='HTML,CSS,JavaScript,JWT'
            credenciales='Admin,2321'
            links={[
                { icon: 'fa-github', item: 'Código Fuente', url: '' },
                { icon: 'fa-internet-explorer', item: 'Demo', url: '' }
            ]}
        >
            Es una aplicación básica que representa las funciones principales en
            un desarrollo de sistemas: "create, register, update and delete".
        </Proyecto>
    </SectionContent>

    <SectionContent title='Habilidades Actuales' icon='fa-graduation-cap'>
        <HabilidadesIn
            title='FrontEnd'
            items={[
                { title: 'HTML 5', image: './image 3.png' },
                { title: 'HTML 5', image: './image 3.png' },
                { title: 'HTML 5', image: './image 3.png' },
                { title: 'HTML 5', image: './image 3.png' }
            ]}
        />
        <HabilidadesIn
            title='BackEnd'
            items={[
                { title: 'HTML 5', image: './image 3.png' },
                { title: 'HTML 5', image: './image 3.png' },
                { title: 'HTML 5', image: './image 3.png' },
                { title: 'HTML 5', image: './image 3.png' }
            ]}
        />
        <HabilidadesIn
            title='Base de datos'
            items={[
                { title: 'HTML 5', image: './image 3.png' },
                { title: 'HTML 5', image: './image 3.png' },
                { title: 'HTML 5', image: './image 3.png' },
                { title: 'HTML 5', image: './image 3.png' }
            ]}
        />
        <HabilidadesIn
            title='Despliegue'
            items={[
                { title: 'HTML 5', image: './image 3.png' },
                { title: 'HTML 5', image: './image 3.png' },
                { title: 'HTML 5', image: './image 3.png' },
                { title: 'HTML 5', image: './image 3.png' }
            ]}
        />
    </SectionContent>
    <SectionWith
        title='Esta página WEB es realizo con:'
        items={[
            { title: 'HTML 5', image: './image 3.png' },
            { title: 'HTML 5', image: './image 3.png' }
        ]}
        url=''
    />
</Layout>
