---
import Layout from '../layouts/Layout.astro'
import BtnOutline from '../components/BtnOutline.astro'
import BtnRed from '../components/BtnRed.astro'
import ExpLaboral from '../components/ExpLaboral.astro'
import Proyecto from '../components/Proyecto.astro'
import 'normalize.css'
---

<Layout title='Welcome to Astro.'>
    <main class='text-left container mx-auto p-1 px-4 text-white text-xl'>
        <h1>
            <span class='block'>Hola,</span>
            <span class='block text-gradient text-7xl !py-5'>Soy Eliud</span>
            <span class='block text-3xl'>Desarrollador Fullstack</span>
            <span class='block text-2xl font-normal'>Perú - Lima</span>
        </h1>
        <p>
            +5 años de experiencia, <strong class='text-yellow-500'
                >Ingeniero en Sistemas e Informática</strong
            >, enfocado en compartir y obtener nuevos conocimientos, decidido a
            formar parte de un equipo para lograr los objetivos con los
            resultados deseados.
        </p>
        <div class='w-full !flex justify-center items-center my-5'>
            <BtnOutline body='Curriculúm Vitae' />
        </div>
        <div class='!flex justify-center items-center gap-8'>
            <BtnRed body='Twitter'><i>I</i></BtnRed>
            <BtnRed body='Github'><i>I</i></BtnRed>
            <BtnRed body='Linkedin'><i>I</i></BtnRed>
        </div>
    </main>
    <section class='text-white container mx-auto p-1 px-4'>
        <h2 class='text-3xl font-bold text-yellow-500 mb-5'>
            Experiencia Laboral
        </h2>
        <div class='mb-10'>
            <ExpLaboral
                cargo='Desarrollador Fullstack'
                lugar='en Altamira Tecnology'
                tiempo='Enero 2023 - Actualmente (1 año 4 meses)'
            >
                Liderar un equipo de desarrollo, evangelizar conceptos claves
                para un desarrollo robusto y escalable, compartir mi
                conocimiento para acelerar el crecimiento de los miembros y
                crear un ambiente de propuestas que mejoren al equipo. Definir
                el diseño de base de datos, el entorno de desarrollo para el
                backend y frontend, las políticas para el desarrollo, la
                distribución de tareas y el despliegue en SAP BTP Cloud Foundry.
                Asimismo, asistir con la optimización de base de datos MySQL,
                actualización de estadísticas, índex, seguimiento a
                slow_query_log, tareas programadas, etc.
            </ExpLaboral>
        </div>
    </section>
    <section class='text-white container mx-auto p-1 px-4'>
        <h2 class='text-3xl font-bold text-yellow-500 mb-5'>Proyectos</h2>
        <Proyecto>

        </Proyecto>
        <div class='!grid grid-cols-1 gap-4 mb-10'>
            <img class='!w-full !h-auto' src='/svgl 1.png' alt='image3' />
            <div class=''>
                <h3 class='text-2xl font-bold mb-2'>CRUD Básico</h3>
                <p class='mb-2'>
                    Es una aplicación básica que representa las funciones
                    principales en un desarrollo de sistemas: "create, register,
                    update and delete".
                </p>
                <div class='skills'>
                    <h4 class='font-semibold'>Herramientas</h4>
                    <div class='!flex gap-2 my-2'>
                        <span
                            class='rounded px-3 py-1 bg-red-700 text-white text-sm font-semibold !flex justify-center items-center'
                            >HTML</span
                        >
                        <span
                            class='rounded px-3 py-1 bg-red-700 text-white text-sm font-semibold !flex justify-center items-center'
                            >CSS</span
                        >
                        <span
                            class='rounded px-3 py-1 bg-red-700 text-white text-sm font-semibold !flex justify-center items-center'
                            >JavaScript</span
                        >
                        <span
                            class='rounded px-3 py-1 bg-red-700 text-white text-sm font-semibold !flex justify-center items-center'
                            >JWT</span
                        >
                    </div>
                </div>
                <div class='Credenciales'>
                    <h4 class='font-semibold'>Credenciales</h4>
                    <div class='!flex gap-2 my-2'>
                        <span
                            class='rounded px-3 py-1 bg-sky-500 text-white text-sm font-semibold !flex justify-center items-center'
                            >Admin</span
                        >
                        <span
                            class='rounded px-3 py-1 bg-sky-500 text-white text-sm font-semibold !flex justify-center items-center'
                            >2321</span
                        >
                    </div>
                </div>
                <div class='Links'>
                    <h4 class='font-semibold'>Links:</h4>
                    <div class='!flex gap-2 my-2'>
                        <a
                            class='rounded px-3 py-1 cursor-pointer border border-sky-500 bg-transparent hover:bg-sky-500 transition-colors duration-500 ease-in-out text-white text-sm font-semibold !flex justify-center items-center'
                            >Código Fuente</a
                        >
                        <a
                            class='rounded px-3 py-1 cursor-pointer border border-sky-500 bg-transparent hover:bg-sky-500 transition-colors duration-500 ease-in-out text-white text-sm font-semibold !flex justify-center items-center'
                            >Demo</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class='text-white container mx-auto p-1 px-4'>
        <h2 class='text-3xl font-bold text-yellow-500 mb-8'>
            Habilidades Actuales
        </h2>
        <div
            class='bg-white bg-opacity-10 rounded-lg px-3 py-2 mb-10 shadow-[-6px_-6px_12px_rgba(86,131,180,0.6),8px_8px_16px_rgba(0,0,0,0.4)]'
        >
            <h3 class='font-semibold text-2xl mb-5'>FrontEnd</h3>
            <div class='content !flex flex-wrap justify-start items-center'>
                <div
                    class='py-3 my-[25px] mx-[15px] !w-[100px] !h-[130px] border-2 border-opacity-10 border-neutral-50 rounded-lg !flex justify-between items-center flex-col'
                >
                    <img
                        src='/image 3.png'
                        alt='imagen'
                        class='w-[50px] h-[50px]'
                    />
                    <p class='font-bold text-base'>HTML 5</p>
                </div>
                <div
                    class='py-3 my-[25px] mx-[15px] !w-[100px] !h-[130px] border-2 border-opacity-10 border-neutral-50 rounded-lg !flex justify-between items-center flex-col'
                >
                    <img
                        src='/image 3.png'
                        alt='imagen'
                        class='w-[50px] h-[50px]'
                    />
                    <p class='font-bold text-base'>HTML 5</p>
                </div>
                <div
                    class='py-3 my-[25px] mx-[15px] !w-[100px] !h-[130px] border-2 border-opacity-10 border-neutral-50 rounded-lg !flex justify-between items-center flex-col'
                >
                    <img
                        src='/image 3.png'
                        alt='imagen'
                        class='w-[50px] h-[50px]'
                    />
                    <p class='font-bold text-base'>HTML 5</p>
                </div>
                <div
                    class='py-3 my-[25px] mx-[15px] !w-[100px] !h-[130px] border-2 border-opacity-10 border-neutral-50 rounded-lg !flex justify-between items-center flex-col'
                >
                    <img
                        src='/image 3.png'
                        alt='imagen'
                        class='w-[50px] h-[50px]'
                    />
                    <p class='font-bold text-base'>HTML 5</p>
                </div>
                <div
                    class='py-3 my-[25px] mx-[15px] !w-[100px] !h-[130px] border-2 border-opacity-10 border-neutral-50 rounded-lg !flex justify-between items-center flex-col'
                >
                    <img
                        src='/image 3.png'
                        alt='imagen'
                        class='w-[50px] h-[50px]'
                    />
                    <p class='font-bold text-base'>HTML 5</p>
                </div>
                <div
                    class='py-3 my-[25px] mx-[15px] !w-[100px] !h-[130px] border-2 border-opacity-10 border-neutral-50 rounded-lg !flex justify-between items-center flex-col'
                >
                    <img
                        src='/image 3.png'
                        alt='imagen'
                        class='w-[50px] h-[50px]'
                    />
                    <p class='font-bold text-base'>HTML 5</p>
                </div>
            </div>
        </div>
        <div
            class='bg-white bg-opacity-10 rounded-lg px-3 py-2 mb-10 shadow-[-6px_-6px_12px_rgba(86,131,180,0.6),8px_8px_16px_rgba(0,0,0,0.4)]'
        >
            <h3 class='font-semibold text-2xl mb-5'>BackEnd</h3>
            <div class='content !flex flex-wrap justify-start items-center'>
                <div
                    class='py-3 my-[25px] mx-[15px] !w-[100px] !h-[130px] border-2 border-opacity-10 border-neutral-50 rounded-lg !flex justify-between items-center flex-col'
                >
                    <img
                        src='/image 3.png'
                        alt='imagen'
                        class='w-[50px] h-[50px]'
                    />
                    <p class='font-bold text-base'>HTML 5</p>
                </div>
                <div
                    class='py-3 my-[25px] mx-[15px] !w-[100px] !h-[130px] border-2 border-opacity-10 border-neutral-50 rounded-lg !flex justify-between items-center flex-col'
                >
                    <img
                        src='/image 3.png'
                        alt='imagen'
                        class='w-[50px] h-[50px]'
                    />
                    <p class='font-bold text-base'>HTML 5</p>
                </div>
                <div
                    class='py-3 my-[25px] mx-[15px] !w-[100px] !h-[130px] border-2 border-opacity-10 border-neutral-50 rounded-lg !flex justify-between items-center flex-col'
                >
                    <img
                        src='/image 3.png'
                        alt='imagen'
                        class='w-[50px] h-[50px]'
                    />
                    <p class='font-bold text-base'>HTML 5</p>
                </div>
                <div
                    class='py-3 my-[25px] mx-[15px] !w-[100px] !h-[130px] border-2 border-opacity-10 border-neutral-50 rounded-lg !flex justify-between items-center flex-col'
                >
                    <img
                        src='/image 3.png'
                        alt='imagen'
                        class='w-[50px] h-[50px]'
                    />
                    <p class='font-bold text-base'>HTML 5</p>
                </div>
                <div
                    class='py-3 my-[25px] mx-[15px] !w-[100px] !h-[130px] border-2 border-opacity-10 border-neutral-50 rounded-lg !flex justify-between items-center flex-col'
                >
                    <img
                        src='/image 3.png'
                        alt='imagen'
                        class='w-[50px] h-[50px]'
                    />
                    <p class='font-bold text-base'>HTML 5</p>
                </div>
                <div
                    class='py-3 my-[25px] mx-[15px] !w-[100px] !h-[130px] border-2 border-opacity-10 border-neutral-50 rounded-lg !flex justify-between items-center flex-col'
                >
                    <img
                        src='/image 3.png'
                        alt='imagen'
                        class='w-[50px] h-[50px]'
                    />
                    <p class='font-bold text-base'>HTML 5</p>
                </div>
            </div>
        </div>
        <div
            class='bg-white bg-opacity-10 rounded-lg px-3 py-2 mb-10 shadow-[-6px_-6px_12px_rgba(86,131,180,0.6),8px_8px_16px_rgba(0,0,0,0.4)]'
        >
            <h3 class='font-semibold text-2xl mb-5'>Base de datos</h3>
            <div class='content !flex flex-wrap justify-start items-center'>
                <div
                    class='py-3 my-[25px] mx-[15px] !w-[100px] !h-[130px] border-2 border-opacity-10 border-neutral-50 rounded-lg !flex justify-between items-center flex-col'
                >
                    <img
                        src='/image 3.png'
                        alt='imagen'
                        class='w-[50px] h-[50px]'
                    />
                    <p class='font-bold text-base'>HTML 5</p>
                </div>
                <div
                    class='py-3 my-[25px] mx-[15px] !w-[100px] !h-[130px] border-2 border-opacity-10 border-neutral-50 rounded-lg !flex justify-between items-center flex-col'
                >
                    <img
                        src='/image 3.png'
                        alt='imagen'
                        class='w-[50px] h-[50px]'
                    />
                    <p class='font-bold text-base'>HTML 5</p>
                </div>
                <div
                    class='py-3 my-[25px] mx-[15px] !w-[100px] !h-[130px] border-2 border-opacity-10 border-neutral-50 rounded-lg !flex justify-between items-center flex-col'
                >
                    <img
                        src='/image 3.png'
                        alt='imagen'
                        class='w-[50px] h-[50px]'
                    />
                    <p class='font-bold text-base'>HTML 5</p>
                </div>
                <div
                    class='py-3 my-[25px] mx-[15px] !w-[100px] !h-[130px] border-2 border-opacity-10 border-neutral-50 rounded-lg !flex justify-between items-center flex-col'
                >
                    <img
                        src='/image 3.png'
                        alt='imagen'
                        class='w-[50px] h-[50px]'
                    />
                    <p class='font-bold text-base'>HTML 5</p>
                </div>
                <div
                    class='py-3 my-[25px] mx-[15px] !w-[100px] !h-[130px] border-2 border-opacity-10 border-neutral-50 rounded-lg !flex justify-between items-center flex-col'
                >
                    <img
                        src='/image 3.png'
                        alt='imagen'
                        class='w-[50px] h-[50px]'
                    />
                    <p class='font-bold text-base'>HTML 5</p>
                </div>
                <div
                    class='py-3 my-[25px] mx-[15px] !w-[100px] !h-[130px] border-2 border-opacity-10 border-neutral-50 rounded-lg !flex justify-between items-center flex-col'
                >
                    <img
                        src='/image 3.png'
                        alt='imagen'
                        class='w-[50px] h-[50px]'
                    />
                    <p class='font-bold text-base'>HTML 5</p>
                </div>
            </div>
        </div>
        <div
            class='bg-white bg-opacity-10 rounded-lg px-3 py-2 mb-10 shadow-[-6px_-6px_12px_rgba(86,131,180,0.6),8px_8px_16px_rgba(0,0,0,0.4)]'
        >
            <h3 class='font-semibold text-2xl mb-5'>Despliegue</h3>
            <div class='content !flex flex-wrap justify-start items-center'>
                <div
                    class='py-3 my-[25px] mx-[15px] !w-[100px] !h-[130px] border-2 border-opacity-10 border-neutral-50 rounded-lg !flex justify-between items-center flex-col'
                >
                    <img
                        src='/image 3.png'
                        alt='imagen'
                        class='w-[50px] h-[50px]'
                    />
                    <p class='font-bold text-base'>HTML 5</p>
                </div>
                <div
                    class='py-3 my-[25px] mx-[15px] !w-[100px] !h-[130px] border-2 border-opacity-10 border-neutral-50 rounded-lg !flex justify-between items-center flex-col'
                >
                    <img
                        src='/image 3.png'
                        alt='imagen'
                        class='w-[50px] h-[50px]'
                    />
                    <p class='font-bold text-base'>HTML 5</p>
                </div>
                <div
                    class='py-3 my-[25px] mx-[15px] !w-[100px] !h-[130px] border-2 border-opacity-10 border-neutral-50 rounded-lg !flex justify-between items-center flex-col'
                >
                    <img
                        src='/image 3.png'
                        alt='imagen'
                        class='w-[50px] h-[50px]'
                    />
                    <p class='font-bold text-base'>HTML 5</p>
                </div>
                <div
                    class='py-3 my-[25px] mx-[15px] !w-[100px] !h-[130px] border-2 border-opacity-10 border-neutral-50 rounded-lg !flex justify-between items-center flex-col'
                >
                    <img
                        src='/image 3.png'
                        alt='imagen'
                        class='w-[50px] h-[50px]'
                    />
                    <p class='font-bold text-base'>HTML 5</p>
                </div>
                <div
                    class='py-3 my-[25px] mx-[15px] !w-[100px] !h-[130px] border-2 border-opacity-10 border-neutral-50 rounded-lg !flex justify-between items-center flex-col'
                >
                    <img
                        src='/image 3.png'
                        alt='imagen'
                        class='w-[50px] h-[50px]'
                    />
                    <p class='font-bold text-base'>HTML 5</p>
                </div>
                <div
                    class='py-3 my-[25px] mx-[15px] !w-[100px] !h-[130px] border-2 border-opacity-10 border-neutral-50 rounded-lg !flex justify-between items-center flex-col'
                >
                    <img
                        src='/image 3.png'
                        alt='imagen'
                        class='w-[50px] h-[50px]'
                    />
                    <p class='font-bold text-base'>HTML 5</p>
                </div>
            </div>
        </div>
    </section>
    <section class='text-white container mx-auto p-1 px-4 text-center'>
        <h2 class='text-3xl font-bold text-white mb-8'>
            Esta página WEB es realizo con:
        </h2>
        <div class='content !flex flex-wrap justify-center items-center'>
            <div
                class='py-3 my-[25px] mx-[15px] bg-white rounded !w-[100px] !h-[130px] !flex justify-between items-center flex-col'
            >
                <img
                    src='/image 3.png'
                    alt='imagen'
                    class='w-[50px] h-[50px]'
                />
                <p class='text-slate-700 font-bold text-base'>HTML 5</p>
            </div>
            <div
                class='py-3 my-[25px] mx-[15px] bg-white rounded !w-[100px] !h-[130px] !flex justify-between items-center flex-col'
            >
                <img
                    src='/image 3.png'
                    alt='imagen'
                    class='w-[50px] h-[50px]'
                />
                <p class='text-slate-700 font-bold text-base'>HTML 5</p>
            </div>
            <div
                class='py-3 my-[25px] mx-[15px] bg-white rounded !w-[100px] !h-[130px] !flex justify-between items-center flex-col'
            >
                <img
                    src='/image 3.png'
                    alt='imagen'
                    class='w-[50px] h-[50px]'
                />
                <p class='text-slate-700 font-bold text-base'>HTML 5</p>
            </div>
            <div
                class='py-3 my-[25px] mx-[15px] bg-white rounded !w-[100px] !h-[130px] !flex justify-between items-center flex-col'
            >
                <img
                    src='/image 3.png'
                    alt='imagen'
                    class='w-[50px] h-[50px]'
                />
                <p class='text-slate-700 font-bold text-base'>HTML 5</p>
            </div>
            <div
                class='py-3 my-[25px] mx-[15px] bg-white rounded !w-[100px] !h-[130px] !flex justify-between items-center flex-col'
            >
                <img
                    src='/image 3.png'
                    alt='imagen'
                    class='w-[50px] h-[50px]'
                />
                <p class='text-slate-700 font-bold text-base'>HTML 5</p>
            </div>
        </div>
        <div class='w-full !flex justify-center items-center my-5'>
            <BtnOutline body='Revisar Código' />
        </div>
    </section>
</Layout>

<style>
    /* main {
        padding: 1rem;
        color: white;
        font-size: 20px;
        line-height: 1.6;
    } */
    .astro-a {
        position: absolute;
        top: -32px;
        left: 50%;
        transform: translatex(-50%);
        width: 220px;
        height: auto;
        z-index: -1;
    }
    h1 {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 1em;
    }
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
    .instructions {
        margin-bottom: 2rem;
        border: 1px solid rgba(var(--accent-light), 25%);
        background: linear-gradient(
            rgba(var(--accent-dark), 66%),
            rgba(var(--accent-dark), 33%)
        );
        padding: 1.5rem;
        border-radius: 8px;
    }
    .instructions code {
        font-size: 0.8em;
        font-weight: bold;
        background: rgba(var(--accent-light), 12%);
        color: rgb(var(--accent-light));
        border-radius: 4px;
        padding: 0.3em 0.4em;
    }
    .instructions strong {
        color: rgb(var(--accent-light));
    }
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 2rem;
        padding: 0;
    }
</style>
