---
import Layout from '../layouts/Layout.astro'
import SectionContent from '../layouts/SectionContent.astro'
import BtnOutline from '../components/BtnOutline.astro'
import BtnRed from '../components/BtnRed.astro'
import ExpLaboral from '../components/ExpLaboral.astro'
import Proyecto from '../components/Proyecto.astro'
import HabilidadesIn from '../components/HabilidadesIn.astro'
import SectionWith from '../components/SectionWith.astro'
import SectionMain from '../components/SectionMain.astro'
import 'normalize.css'
---

<Layout title='Welcome to Astro.'>
    <SectionMain
        nombre='Eliud'
        especialidad='Desarrollador Fullstack'
        pais='Perú'
        ciudad='Lima'
        cvLink='https://drive.google.com/file/d/1nODTbLUVZ81e4FWss3Y7eR3YAoo8RQoN/edit'
        netLinks={[
            {
                body: 'Twitter',
                icon: 'fa-twitter',
                urlLink: 'https://x.com/CubeEliud'
            },
            {
                body: 'GitHub',
                icon: 'fa-github',
                urlLink: 'https://github.com/CubeWin'
            },
            {
                body: 'LinkedIn',
                icon: 'fa-linkedin',
                urlLink: 'https://www.linkedin.com/in/eliudpedraza/'
            }
        ]}
    >
        +5 años de experiencia, <strong class='text-yellow-500'>
            Ingeniero en Sistemas e Informática,
        </strong> dispuesto a compartir mis conocimientos, experiencias y colaborar
        en equipos.
    </SectionMain>
    <SectionContent
        id='experiencia'
        title='Experiencia Laboral'
        icon='fa-address-book'
    >
        <ExpLaboral
            cargo='Consultor SAP BW'
            lugar='en Altamira Tecnology'
            tiempo='Diciembre 2023 - Actualmente (5 meses)'
        >
            Liderar un equipo de desarrollo, evangelizar conceptos claves para
            un desarrollo robusto y escalable, compartir mi conocimiento para
            acelerar el crecimiento de los miembros y crear un ambiente de
            propuestas que mejoren al equipo. Definir el diseño de base de
            datos, el entorno de desarrollo para el backend y frontend, las
            políticas para el desarrollo, la distribución de tareas y el
            despliegue en SAP BTP Cloud Foundry. Asimismo, asistir con la
            optimización de base de datos MySQL, actualización de estadísticas,
            índex, seguimiento a slow_query_log, tareas programadas, etc.
        </ExpLaboral>
        <ExpLaboral
            cargo='Fullstack SAP BTP'
            lugar='en Altamira Tecnology'
            tiempo='Enero 2023 - Noviembre 2023 (11 meses)'
        >
            Liderar un equipo de desarrollo, evangelizar conceptos claves para
            un desarrollo robusto y escalable, compartir mi conocimiento para
            acelerar el crecimiento de los miembros y crear un ambiente de
            propuestas que mejoren al equipo. Definir el diseño de base de
            datos, el entorno de desarrollo para el backend y frontend, las
            políticas para el desarrollo, la distribución de tareas y el
            despliegue en SAP BTP Cloud Foundry. Asimismo, asistir con la
            optimización de base de datos MySQL, actualización de estadísticas,
            índex, seguimiento a slow_query_log, tareas programadas, etc.
        </ExpLaboral>
        <ExpLaboral
            cargo='Analista Programador'
            lugar='en Deister Software'
            tiempo='Junio 2022 - Diciembre 2022 (7 meses)'
        >
            Diseñar soluciones innovadoras al analizar los requisitos, haciendo
            uso de las políticas y buenas prácticas de las empresas clientes,
            realizar pruebas y pasar a producción una vez aprobado, las tareas
            pueden ir de inventario, transporte geolocalización, presupuestos de
            proyectos, facturas, etc. Identificar y replicar errores, también
            buscar su procedencia en funciones, procedures, triggers o scripts,
            para posteriormente darle una solución. Innovar en las soluciones ya
            que la ERP puede carecer de funciones puestas en la documentación
            porque el cliente trabaja con una versión anterior.
        </ExpLaboral>
        <ExpLaboral
            cargo='Desarrollador Fullstack'
            lugar='Autónomo'
            tiempo='Julio 2019 - Marzo 2022 (2 año 9 meses)'
        >
            Desarrollar un sistema WEB como alternativa a los CMS, para el
            control y administración del contenido, debe generar los archivos
            HTML, CSS y JS, y desplegarse automáticamente. Diseñar y definir la
            plantilla web, Diseñar la plantilla web, realizar correcciones y
            planificar la actualización del contenido para facilitar la
            adopción. Programar en base de datos, realizando la creación de
            trigger, procedure, funciones, cursores, índex, etc., usar el patrón
            de diseño modelo, vista y controlador, y separar los proyectos en
            diferentes entornos como el backend y frontend. Realizar
            aplicaciones para escritorio sobre inventariado, punto de venta,
            entre otros, solventando la necesidad del cliente.
        </ExpLaboral>
        <ExpLaboral
            cargo='Desarrollador Fullstack'
            lugar='en Universidad Santo Domingo de Guzmán'
            tiempo='Enero 2018 - Junio 2019 (1 año 6 meses)'
        >
            Diseñar la base de datos, desarrollo y despliegue, para una
            plataforma de bolsa laboral y un aplicativo para que los docentes
            registren su hoja de vida. Implementar el sistema KOHA(gestión de
            biblioteca), capacitar sobre el funcionamiento y realizar
            aplicaciones para generar los documentos con las credenciales del
            estudiante, docente y personal responsable. Contribuir con el
            desarrollo de aplicaciones que permitan la integración de archivos
            excel a la base de datos con una interfaz sencilla para los
            administrativos.
        </ExpLaboral>
        <ExpLaboral
            cargo='Programador WEB'
            lugar='en Universidad Santo Domingo de Guzmán'
            tiempo='Julio 2017 - Diciembre 2017 (6 meses)'
        >
            Aportar con el diseño de base de datos para el desarrollo de gestión
            de alumnos y pagos. Contribuir con la planificación para el análisis
            de requisitos, diseño y despliegue de sistema. Realizar la interfaz
            del usuario y las funcionalidades clave, como el registro de los
            usuarios, los vínculos que tiene con la facultad y el aula, y el
            registro de pagos asociados al estudiante.
        </ExpLaboral>
    </SectionContent>
    <SectionContent id='proyectos' title='Proyectos' icon='fa-briefcase'>
        <Proyecto
            title='Buscaminas'
            imagen='./buscaminas.png'
            herramientas='HTML,CSS,JavaScript,TailWind CSS,Font Awesome'
            credenciales=''
            links={[
                {
                    icon: 'fa-github',
                    item: 'Código Fuente',
                    url: 'https://github.com/CubeWin/Minesweeper'
                },
                {
                    icon: 'fa-internet-explorer',
                    item: 'Demo',
                    url: 'https://cubewin.github.io/Minesweeper/'
                }
            ]}
        >
            Es un Videojuego que tiene como objetivo el despejar un campo de
            minas sin detonar ninguna, el cual debe su popularidad a Microsoft
            Windows.
        </Proyecto>
        <Proyecto
            title='CRUD Básico'
            imagen='./crud.png'
            herramientas='HTML,CSS,JavaScript,PHP,MySQL,JQuery,M.D. Bootstrap,Font Awesome'
            credenciales='Admin,2321'
            links={[
                {
                    icon: 'fa-github',
                    item: 'Código Fuente',
                    url: 'https://github.com/CubeWin/SGCW'
                },
                { icon: 'fa-internet-explorer', item: 'Demo', url: '' }
            ]}
        >
            Es una aplicación básica que representa las funciones principales en
            un desarrollo de sistemas: "create, register, update and delete".
        </Proyecto>
        <Proyecto
            title='Rick and Morty API'
            imagen='./rym.png'
            herramientas='HTML,CSS,JavaScript,Bootstrap,Font Awesome'
            credenciales=''
            links={[
                {
                    icon: 'fa-github',
                    item: 'Código Fuente',
                    url: 'https://github.com/CubeWin/Rick-and-Morty-HTML-CSS-JS'
                },
                {
                    icon: 'fa-internet-explorer',
                    item: 'Demo',
                    url: 'https://cubewin.github.io/Rick-and-Morty-HTML-CSS-JS/'
                }
            ]}
        >
            Una aplicación que realiza el consumo de una API de la serie "Rick
            and Morty" obteniendo sus personajes y detalles sobre ellos.
        </Proyecto>
        <Proyecto
            title='Store'
            imagen='./rym.png'
            herramientas='JavaScript,Node JS,JWT,Mongodb,Express'
            credenciales=''
            links={[
                {
                    icon: 'fa-github',
                    item: 'Código Fuente',
                    url: 'https://github.com/CubeWin/store'
                }
            ]}
        >
            API con las funciones basicas de una tienda, compra y venta de
            articulos, registro de personas y subida de archivos.
        </Proyecto>
    </SectionContent>

    <SectionContent
        id='habilidades'
        title='Habilidades Actuales'
        icon='fa-graduation-cap'
    >
        <div class='flex flex-wrap gap-8'>
            <HabilidadesIn
                title='FrontEnd'
                items={[
                    { title: 'HTML5', image: './icons/html5.svg' },
                    { title: 'CSS3', image: './icons/css3.svg' },
                    {
                        title: 'JavaScript',
                        image: './icons/javascript.svg'
                    },
                    {
                        title: 'Font Awesome',
                        image: './icons/fontawesome.svg'
                    },
                    { title: 'React JS', image: './icons/react.svg' },
                    { title: 'Tail wind', image: './icons/tailwindcss.svg' },
                    { title: 'BEM', image: './icons/bem.svg' },
                    { title: 'Angular', image: './icons/angular.svg' },
                    { title: 'Astro', image: './icons/astro.svg' }
                ]}
            />
            <HabilidadesIn
                title='BackEnd'
                items={[
                    { title: 'Node JS', image: './icons/nodedotjs.svg' },
                    {
                        title: 'TypeScript',
                        image: './icons/typescript.svg'
                    },
                    { title: 'Express', image: './icons/express.svg' },
                    { title: 'JWT', image: './icons/jsonwebtokens.svg' },
                    { title: 'Jest', image: './icons/jest.svg' },
                    { title: 'Python', image: './icons/python.svg' },
                    { title: 'Django', image: './icons/django.svg' },
                    { title: 'Trpc', image: './icons/trpc.svg' },
                    { title: 'ABAP', image: './icons/sap.svg' }
                ]}
            />
            <HabilidadesIn
                title='Base de datos'
                items={[
                    { title: 'Mongo DB', image: './icons/mongodb.svg' },
                    { title: 'Mysql', image: './icons/mysql.svg' },
                    { title: 'SQL', image: './icons/microsoftsqlserver.svg' },
                    { title: 'HanaDB', image: './icons/sap.svg' }
                ]}
            />
            <HabilidadesIn
                title='Despliegue'
                items={[
                    { title: 'Git', image: './icons/git.svg' },
                    { title: 'Git Hub', image: './icons/github.svg' },
                    {
                        title: 'Git hub Actions',
                        image: './icons/githubactions.svg'
                    },
                    { title: 'Jenkins', image: './icons/jenkins.svg' },
                    { title: 'AWS EC2', image: './icons/amazonec2.svg' },
                    { title: 'AWS S3', image: './icons/amazons3.svg' },
                    { title: 'Docker', image: './icons/docker.svg' },
                    { title: 'Kubernetes', image: './icons/kubernetes.svg' },
                    { title: 'Cloudflare', image: './icons/cloudflare.svg' },
                    { title: 'Vercel', image: './icons/vercel.svg' },
                    { title: 'SAP BTP', image: './icons/sap.svg' }
                ]}
            />
        </div>
    </SectionContent>
    <SectionWith
        title='Esta página WEB se realizó con:'
        items={[
            { title: 'HTML5', image: './icons/html5.svg' },
            { title: 'CSS3', image: './icons/css3.svg' },
            {
                title: 'JavaScript',
                image: './icons/javascript.svg'
            },
            {
                title: 'Font Awesome',
                image: './icons/fontawesome.svg'
            },
            { title: 'Astro', image: './icons/astro.svg' },
            { title: 'Tail wind', image: './icons/tailwindcss.svg' },
        ]}
        url=''
    />
</Layout>
