---
interface Props {
    body: string
    urlLink: string
}

const { body, urlLink } = Astro.props
---

<a
    class='flex justify-center items-center flex-col w-[110px] h-[120px] bg-white bg-opacity-10 text-white rounded-lg text-base font-bold cursor-pointer
          transition-all duration-500 ease-in-out hover:shadow-[-6px_-6px_12px_rgba(0,0,0,0.4),8px_8px_16px_rgba(86,131,180,0.6)] hover:bg-transparent
          active:ring-4 active:ring-yellow-500 active:ring-opacity-60'
    href={urlLink ? urlLink : '#'}
>
    <slot />
    <p>{body}</p>
</a>
