---
interface Props {
    title: string
    icon: string
    id: string
}

const { title, icon, id } = Astro.props
---

<section id={id} class='text-white container mx-auto pt-28 px-4 pb-10'>
    <h2 class='text-3xl font-bold text-yellow-500 mb-8  font-["Audiowide"]'>
        {!!icon && <><i class={`fa ${icon}`}></i>&nbsp;</>}
        {title}
    </h2>
    <slot />
</section>
